
.flex-container {
    display: flex;
   
    font-size: 30px;
    text-align: center;
   
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 70%;
    font-size: x-large;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    

  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
}

.lable{
    color: red;
    font-size: xx-large;
    text-align: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }